export LUA_PATH='/Users/ritli/repo/ligistic/lua_classpert/bapl1-class-language/./lua_modules/share/lua/5.4/?.lua;/Users/ritli/repo/ligistic/lua_classpert/bapl1-class-language/./lua_modules/share/lua/5.4/?/init.lua;/usr/local/share/lua/5.4/?.lua;/usr/local/share/lua/5.4/?/init.lua;/usr/local/lib/lua/5.4/?.lua;/usr/local/lib/lua/5.4/?/init.lua;./?.lua;./?/init.lua;/Users/ritli/.luarocks/share/lua/5.4/?.lua;/Users/ritli/.luarocks/share/lua/5.4/?/init.lua'
export LUA_CPATH='/Users/ritli/repo/ligistic/lua_classpert/bapl1-class-language/./lua_modules/lib/lua/5.4/?.so;/usr/local/lib/lua/5.4/?.so;/usr/local/lib/lua/5.4/loadall.so;./?.so;/Users/ritli/.luarocks/lib/lua/5.4/?.so'
export PATH='/Users/ritli/repo/ligistic/lua_classpert/bapl1-class-language/./lua_modules/bin:/Users/ritli/.luarocks/bin:/usr/local/opt/openssl@3/bin:/Users/ritli/.rbenv/shims:/usr/local/opt/gnu-sed/libexec/gnubin:/usr/local/opt/libpq/bin:/Users/ritli/.poetry/bin:/Users/ritli/.cargo/bin:/Users/ritli/.nimble/bin:/Users/ritli/Library/Android/sdk/tools:/Users/ritli/Library/Android/sdk/platform-tools:/Users/ritli/.pyenv/shims:/Users/ritli:/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/Users/ritli/.sdkman/candidates/gradle/current/bin:/usr/local/opt/fzf/bin'

alias t='tree -I "*.pyc|node_modules|__pycache__|lua_modules"'
